:root {
    --color-light-white: #f8f8f8;
    --color-gray: #707070;
    --color-magenta: #1792D2;
    --color-dark-blue: #143774;
}

/*
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
*/