:root {
    --color-light-white: #f8f8f8;
    --color-gray: #707070;
    --color-magenta: #1792D2;
    --color-dark-blue: #143774;
}

/*
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
*/

* {
    margin: 0;
    /* padding: 0; */
    /* box-sizing: border-box; */
}

/*  =================
    Typography
    ================*/
.header {
    text-align: center;
    font-family: 'Lora', serif;
    background-color: #f1f1f1;
    padding: 2em 0; /* 2em 'cuz it's like 32px */
}

.title-logo h1 {
    font-size: 2.37rem;
    color: var(--color-gray);
    text-transform: capitalize;
    font-weight: 400;
}

.title-logo p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-magenta);
    text-transform: uppercase;
    /* margin-bottom: 1.5em; */

}

/*  =================
    Layout
    ================*/

.container {
    border: 1px solid magenta;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* to change the layout */
@media (max-width: 675px) {
    .container-nav {
        flex-direction: column;
    }
    
    nav ul {
        flex-direction: column;
    }
}

/* navigation */

nav {
    max-width: 980px;
    margin: auto 0;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    /* border: 1px solid black; */
    /* margin: 0; */
}

nav li {
    /* we add space between the items 'cuz we may add a new link in the future */
    margin-left: 2em;
}

/* for spaceing between elements */
@media (max-width: 675px) {
    .title-logo {
        margin-bottom: 1em;;
    }

    nav li {
        margin-left: 0;
        margin-bottom: 1.25em;
    }
}

nav a {
    font-family: 'Ubuntu', sans-serif;
    color: var(--color-gray);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    padding: .25em 0;
}

/* this focus keeps the color changed */
nav a:hover,
nav a:focus {
    color: var(--color-magenta);
    /* border-bottom: 2px solid var(--color-dark-blue); */
}

/* adding the underline */

.current-page:hover {
    color: var(--color-gray);
}

.current-page {
    border-bottom: 2px solid var(--color-gray);
}